body{
    background-image: url("../img/bgphotomain.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Verdana, sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.clearfix{
    clear: both;
}

/*HEADER*/
.header {
    height: 56px;
    background-color: rgba(0,0,0,0.3);
    padding-top: 20px;
    box-sizing: border-box;
}
.header-logo{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.header-logo:hover{
    color: #3cb878;
}
.header-nav{
    display: inline-block;
    float: right;
}
.header-nav-login:hover{
    text-decoration: underline;
}
.header-nav-spite{
    display: inline-block;
}
.header-nav-item{
    display: inline-block;
    margin-right: 28px;
}
.header-nav-link{
    display: inline-block;
}
.calc-btn{
    width: 19px;
    height: 19px;
    background-image: url("../img/navbar_sprite/spritesheet.png");
    background-position: -5px -5px;
}
.calc-btn:hover{
    background-position: -73px -35px;
}
.text-btn{
    width: 28px;
    height: 20px;
    background-image: url("../img/navbar_sprite/spritesheet.png");
    background-position: -64px -5px;
}
.text-btn:hover{
    background-position: -35px -35px;
}
.nav-btn{
    width: 20px;
    height: 20px;
    background-image: url("../img/navbar_sprite/spritesheet.png");
    background-position: -34px -5px;
}
.nav-btn:hover{
    background-position: -5px -35px;
}

.header-nav-welcom{
    color: white;
    text-transform: capitalize;
    padding-left: 15px;
    border-left: 1px solid white;
}
.header-nav-login{
    text-decoration: none;
    color: #3cb878;
    text-transform: capitalize;
}
.header-nav-text{
    color: white;
}
.header-nav-signup{
    text-decoration: none;
    color: #3cb878;
    text-transform: capitalize;
}
.header-nav-signup:hover{
    text-decoration: underline;
}


/*main-form*/
.main-content {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-form-img{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
    top: 30px;
}
.main-form{
    width: 444px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 29px 62px;
    box-sizing: border-box;
    position: relative;
}
.main-form-list-item{
    display: block;
}
.main-form-signup{
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 17px;
}
.main-form-login{
    float: right;
    text-decoration: none;
    text-transform: capitalize;
    color: #3cb878;
    font-size: 14px;
    padding-bottom: 17px;
}
.main-form-login:hover{
    text-decoration:underline;
}
.social-btn{
    width: 156px;
    height: 46px;
    border-radius: 2px;
    margin-bottom: 33px;
    border: none;
}
.facebook-btn{
    background-color: #305db8;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    padding-right: 20px;
 }
.facebook-btn:before{
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f39e";
    border-right: 1px solid #2b54a5;
    margin: 8px 0;
    font-size: 20px;
    margin-right: 20px;
    padding-right: 5px;
}
.facebook-btn:hover{
    background-color: #264b96;
}
.google-btn{
    background-color: #df4a32;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    padding-right: 20px;
}
.google-btn:before{
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f0d5";
    border-right: 1px solid #c8422d;
    margin: 8px 0;
    font-size: 20px;
    margin-right: 20px;
    padding-right: 5px;
}
.google-btn:hover{
    background-color: #c3412c;
}
.form-separator{
    color: grey ;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.form-separator:before{
    content: "";
    display: block;
    height: 1px;
    width: 138px;
    background-color: #bebebe;
    float: left;
    position: relative;
    top: 8px;
}
.form-separator:after{
    content: "";
    display: block;
    height: 1px;
    width: 138px;
    background-color: #bebebe;
    float: right;
    position: relative;
    top: 8px;
}
.main-form-list-item{
    padding: 10px 0 10px 17px;
    text-transform: capitalize;
    font-size: 14px;
    outline: none;
    border: 1px solid #bebebe;
    margin: 10px 0;
    width: 322px;
    box-sizing: border-box;
    color:#bebebe;
    border-radius: 2px;
 }
.main-form-list-item::placeholder {
    color:#bebebe;
}
.main-form-list-item:focus{
    box-shadow: 10px 10px 5px 0px rgba(245,240,245,1);
    border-color: white;
}
.main-form-checkbox{
    display: inline-block;
    padding: 22px 0;
    font-size: 16px;
    font-weight: 400;
}
.main-form-checkbox-txt{
    color: #3cb878;
}
.main-form-checkbox-txt:hover{
    text-decoration: underline;
}

.form-submit-btn{
    width: 322px;
    height: 46px;
    background-color: #329a65;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
}



